@import "./markdown.css";

html,
body,
#app {
  scroll-behavior: smooth;
  font-family: "puffin-display-soft", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.curly-1 {
  -webkit-mask-image: url(https://melli-assets.netlify.app/shapes/curly-1.svg);
  mask-image: url(https://melli-assets.netlify.app/shapes/curly-1.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
  object-fit: cover;
  aspect-ratio: 100 / 80;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-primary-500 opacity-75;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-primary-500 text-white cursor-pointer
    hover:bg-primary-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-primary-600;
  font-size: 0.9em;
}

input[type="radio"] {
  @apply border-2 checked:border-6px border-gray-200 checked:border-primary-500 appearance-none w-6 h-6 rounded-full;
}
input[type="checkbox"] {
  @apply appearance-none w-6 h-6 border rounded-md cursor-pointer focus:outline-none focus:border-primary-500 focus:ring-3 focus:ring-primary-300 bg-white checked:bg-primary-500  border-gray-200;
}
input[type="checkbox"] {
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked::before {
  content: "";
  @apply w-4 h-4 i-carbon:checkmark color-white stroke-2;
}

input[type="checkbox"]:checked:disabled:before {
  @apply color-gray-400;
}

.cr_form-input {
  @apply block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm placeholder-slate-400 focus:outline-none focus:border-primary-500 focus:ring-1 focus:ring-primary-500 transition delay-150 duration-300 ease-in
}

.cr_button {
  @apply flex-1 bg-primary-500 py-2.5 px-4 w-fit rounded-lg h-min text-base font-medium text-white
}
